/* SignUpPage.css */

.signup-body {
  font-family: 'Arial', sans-serif;
  display: flex;
    height: 100vh;
  }
  
  .signup-container {
    text-align: center;
  width: 500px;
  background-color: rgba(245, 239, 239, 0.8);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0.2, 0.4, 0.8, 0.16);
  margin: auto; 
  margin-top: 20vh;
  margin-left: 600px;
  }
  
  .signup-form {
    display: flex;
  flex-direction: column;
  margin: 20px auto;
  }
  
  .signup-form label {
    margin-bottom: 10px;
  color: #333;
  }
  
  .signup-form input {
    padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .signup-form button {
    padding: 12px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: #555;
  }
  
  .error-message {
    color: #eb0c22;
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    .signup-form {
      max-width: 100%;
    }
  }